<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bankist | Customers</title>
    <link rel="stylesheet" href="/css/customers.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <input type="checkbox" id="nav-toggle" />
        <div class="logo">
          <img src="/images/logo.png" alt="bankist" />
        </div>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/transfers">Transfer Records</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
      </nav>
    </header>
    <div class="container">
      <table>
        <caption>
          Customers
        </caption>
        <thead>
          <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Current Balance</th>
          </tr>
        </thead>
        <tbody>
          <% for(let customer of customers){ %>
          <tr>
            <td scope="row" data-label="Customer ID"><%= customer._id %></td>
            <td data-label="Name">
              <a href="/customer/<%= customer._id %>"><%= customer.name %></a>
            </td>
            <td data-label="Email"><%= customer.email %></td>
            <td data-label="Current Balance">
              ₹<%= customer.currentBalance %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
